.mainSection {
  display: flex;
  /* height: 85.6%; */
  height: 100%;
}

.sectionOne {
  width: 18rem;
}

.sectionTwo {
  border-radius: 18px 0px 10px 0px;
  background-color: #e6e7eb;
  width: 100%;
  margin-left: 1.75rem;
}