.mainSection {
  display: flex;
}

.sectionOne {
  width: 18rem;
}

.sectionTwo {
  border-radius: 18px 0px 10px 0px;
  background-color: #e6e7eb;
  width: 100%;
  min-height: 87.9vh;
  overflow-y: auto;
  margin-left: 1.75rem;
}